body {
    background-color: #E9E4E4;
}

.score {
    color: #3C3B3B;
    font-size: x-large;
    font-weight: 1000;
    font: roboto;
    position: absolute;
    right: 5%;
    top: 5%;
    left: 85%;
    bottom: 90%;
}

canvas#game {
    position: absolute;
    left: 25%;
    top: 50%;
    right: 20%;
    bottom: 20%;
    width: 800px;
    height: 200px;
}